*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background-primary-color: #F2E9E4;
  --background-secundary-color: #ffffff;
  --color-font: #1d1d1d;
}
body {
  background-color: var(--background-primary-color);;
  margin: 2vw 5vw 0;
  
}
@font-face {
  font-family: 'Coco';
  src: url('./assets/fonts/Coco-Bold.otf') format('opentype'), ;
  font-weight: 700;
  font-style: normal;
}
.hidden-top {
  transform: translateY(-100px);
  opacity: 0;
  transition: ease-in-out 2s;
}
@media (max-width: 1779px) {
  .title{
    font-size: 7em;
    letter-spacing: 0.8rem;
  }
}
@media (max-width: 1485px) {
  .title{
    font-size: 7em;
    letter-spacing: 0.5rem;
  }
  .services h2 {
    font-size: 2.5rem;
  }
  #image-about{
    max-width: 500px;
  }
}
@media (max-width: 1265px) {
  /* .title{
    font-size: 6em;
    letter-spacing: 0.6rem;
  } */
  .button{
    top:25vh;
  }
  .button button{
    width: 200px;
    height: 40px;
  }
  .border{
      left: 105px;
      top: -30px;
  }
  .services h2 {
    font-size: 2.5rem;
  }
  #image-about{
    max-width: 400px;
  }
}
@media (max-width: 1155px) {
  .navigation a{
    font-size: 1rem;
  }
  .title{
    font-size: 6em;
    letter-spacing: 0.2rem;
  
  }
  .button{
    top:18vh;
  }
  .button button{
    width: 200px;
    height: 40px;
  }
  .border{
      left: 105px;
      top: -30px;
  }
  .about h2{
    font-size: 3.5rem;
  }
  .container-welcome p {
    max-width: 400px;
    line-height: 30px;
  }
  .services p {
    line-height: 30px;
  }
  #image-about{
    max-width: 350px;
  }
  .testimonials {
    padding: 4rem 0  10rem 0;
  }
  .contact-container h2 {
    font-size: 1.8rem;
    letter-spacing: 0.8rem;
    text-align: center;
  }
  .contact-container p{
    text-align: center;
    max-width: 400px;
  }
  .contact-intput input {
    width: 300px;
  }
  .contact-intput textarea {
    width: 300px;
  }
  #image-contact {
    width: 500px;
    height: 800px;
  }

  .carousel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .carousel img {
    width: 100%;
  }
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer .social-medias{
    gap: 2rem;
    flex-wrap: wrap;
  }
}
@media (max-width: 960px) {
  .header{
    justify-content: start;
  }
  .navigation a{
    display: none;
  }
  .navigation-logo p {
    font-size: 1.2rem;
  }
  .title{
    font-size: 6em;
    letter-spacing: 0.3rem;
  }
  .button{
    top: 30vh;
  }
  .button button{
    width: 180px;
  }
  .border{
    left: 95px;
  }
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about p,
  .about h3{
    text-align: center;
  }
  #image-about{
    max-width: 500px;
  }
  .services {
    display: flex;
    flex-direction: column;
    padding: 1vw 0;
    height: 2300px;
  }
  .services img {
    width: 35vw;
  }
  #img-1 {
    top: 1vh;
    left: 7vw;
  }
  #img-2 {
    top: -30vh;
    left: 47vw;
  }
  #img-3 {
    top: -35vh;
    left: 7vw;
  }
  #img-4 {
    position: relative;
    top: -65vh;
    left: 47vw;
  }
  #img-5 {
    top: -71vh;
    left: 7vw;
  }
  #img-6 {
    top: -100vh;
    left: 47vw;
  }
  .services p {
    position: relative;
    top: -100vh;
    text-align: center;
    display: flex;
    padding: 3rem ;
  }
  .container {
    width: 600px;
    height: 250px;
  }
  #aspas {
    width: 100px;
    left: 270px;
    top: -70px;
  }
  .container p {
    top: -60px;
  }
  #foto-casal{
    width: 126px;
    left: 240px;
    top: -30px;
  }
  .packages .pack {
    margin-top: 2rem;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-items: center;
  }
  .packages img {
    width: 45vw;
  }
  .packages h3 {
    margin: .5rem 0;
    font-size: 2rem;
  }
  .packages p {
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 1.5rem;
  }
  .packages span {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.5rem;
  }
  .contact {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .contact-container h2 {
    font-size:2rem;
    letter-spacing: 0.8rem;
    text-align: center;
    margin-top: 4rem;
  }
  .contact-container p{
    max-width: 450px;
  }
  .contact-intput input {
    width: 400px;
  }
  .contact-intput textarea {
    width: 400px;
  }
  #image-contact {
    width: 500px;
    height: 800px;
    margin-top: 5rem;
  }
  .contact-intput button {
    width: 100%;
  }
  
    
}
@media (max-width: 748px) {
  .services {
    height: 2000px;
  }

  #img-1 {
    margin-top: 3rem;
  }
  #img-2 {
    margin-top: 3rem;
  }
  #img-3 {
    margin-top: 3rem;
  }
  #img-4 {
    margin-top: 3rem;
  }
  #img-5 {
    margin-top: 3rem;
  }
  #img-6 {
    margin-top: 3rem;
  }
  .services p {
    margin-top: 3rem;
  }
}
@media (max-width: 619px) {
  #image-about{
    max-width: 300px;
  }
  .container p {
    top: -60px;
    line-height: 25px;
    padding: 0 3rem;
  }
  #image-contact {
    width: 350px;
    height: 550px;
  }
  .contact-container h2 {
    font-size: 1.6rem;
    letter-spacing: 0.8rem;
  }
  .contact-container p{
    font-size: 1.1rem;
    max-width: 350px;
  }
  .contact-intput input {
    width: 300px;
  }
  .contact-intput textarea {
    width: 300px;
  }

  .services {
    height: auto;
    
  align-items: center;
  }
  .services h2 {
    text-align: center;
    margin: 1rem;
  }
  .services img {
    width: 80%;
    cursor: pointer;
    border-radius: 1rem;
  }
  #img-1 {
    top: 0;
    left: 0;
  }
  #img-2 {
    top: 0;
    left: 0;
  }
  #img-3 {
    top: 0;
    left: 0;

  }
  #img-4 {
    top: 0;
    left: 0;
  }
  #img-5 {
    top: 0;
    left: 0;
  }
  #img-6 {
    top: 0;
    left: 0;;
  }
  .services p {
    top: 0;
    left: 0;
  }
  .testimonials {
    padding: 12rem 0;
  }
  .container {
    width: 300px;
  }
  #aspas {
    width: 86px;
    left: 110px;
    top: -60px;
  }
  #foto-casal{
    width: 106px;
    border-radius: 50%;
    position: relative;
    left: 90px;
    top: -60px;
  }
}
@media (max-width: 550px) {
  .title{
    font-size: 5em;
    letter-spacing: 0.2rem;
  }
  .button{
    top:25vh;
  }
  .about h2, .services h2,.packages h2, .contact-container h2  { 
    font-size: 1.5rem;
  }
  .about h3 ,.footer h3, .packages h3, .social-medias  a, .developed p, .packages  span{
    font-size: 1rem;
  }
  .container-welcome p,.container p , .packages p{
    font-size: 1.1rem;
  }
  .services p { 
    font-size: 1.1rem;
    padding: 1rem 1rem 3rem ;
  }
  .testimonials {
    padding: 3rem 0 10rem 0
    ;}
    .packages img {
      width: 75vw;
    }
}
@media (max-width: 550px) {
  .title {
    font-size: 4rem;
  }
  .button{
    top:65vh;
  }
  #image-about{
    max-width: 260px;
  }
  
  #image-contact {
    width: 280px;
    height: 450px;
  }
}
@media (max-width: 344px) {
  #image-about{
    max-width: 240px;
  }
  
  #image-contact {
    width: 240px;
    height: 400px;
  }
  #aspas {
    left: 90px;
  }
  #foto-casal{
    left: 70px;
  }
  .contact-intput input {
    width: 250px;
  }
  .contact-intput textarea {
    width: 250px;
  }
}
